<p style="font-family: Arial, sans-serif; font-size: 11pt;">Greetings {{contact_name}},</p>
<br>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">Please find attached our Letter of Intent (LOI) regarding the property located at {{property_address}} {{property_city}}, {{property_state}} {{property_zip_code}}.</p>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">We are very interested in this property and believe our all-cash offer presents a strong opportunity. The terms proposed in the purchase offer are for the property "AS-IS" and include buyer paying closing costs.</p>
<p>We make it easy.  No fees, no commissions, and no hassle of showing your home to strangers - just cash in your hand.</p>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">We are prepared to move quickly and can close as outlined. Please review the attached LOI at your earliest convenience. This offer is valid for 48 hours.</p>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">If you wish to move forward or have questions, simply reply to this email.  We look forward to hearing from you.</p>
<br>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">Warm regards,</p>
<p style="font-family: Arial, sans-serif; font-size: 11pt;">{{senders_name}}<br>{{senders_title}}<br>
{{company_name}}</p>

Letter of Intent to purchase the property at {{property_address}}
